/* リセットCSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif, "Hiragino Kaku Gothic ProN";
    font-size: 16px;
    font-weight: normal;
}
li{
    list-style: none;
  }
img{
    display: block;
  }
a{
    text-decoration: none;
  }
p{
    line-height: 1.7rem;
}

/* ここからヘッダー */
header{
    position: relative;
    height: 100px;
    background-color: #453825;
}
#headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#headerMenu{
    display: flex;
    justify-content: flex-end;
}
.globalNavi ul{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.globalNavi ul li{
    padding: 6vh 35px 1.5rem 35px;
}
.globalNavi ul li a{
    color: #fff;
    transition: all 0.5s 0s ease;
}
.globalNavi ul li a:hover{
    color: #d9d9d9;
}
.sns{
    display: flex;
    justify-content: space-between;
}
.sns li{
    padding: 5vh 10px 1.5rem 10px;
}
/* ここからメイン */
/* メイン画像 */
.mainImgs{
    position: relative;
}
.mainImgs img{
    width: 100%;
    display: block;
    z-index: 0;
}
#btn{
    position: absolute;
    left: 42%;
     /*本当に中央寄せになっているのか不明、中央寄せする方法を聞く */
    top: 80%;
    z-index: 1;
    padding: 1rem 3rem;
    font-size: 20px;
    color: #707070;
    background-color: #fff;
    border: 1 solid black;
}
#btn:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}
#btn a{
    color: #000;
}
/* form-start */
.form_hidden{
    visibility: hidden;
    width: 22rem;
    margin: auto;
    padding: 2rem;
    border: solid 1px #000;
    box-shadow: 0 0 1rem #453825;
    position: relative;
}
.form_show{
    visibility: visible;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#book_wrapper{
    padding-top: 1rem;
    text-align: center;
}
form input{
    margin: .5rem;
    padding: .5rem;
}
#name{
    margin-left: 2.5rem;
}
#date{
    margin-left: 2.5rem;
}
#time{
    margin: .5rem .5rem .5rem 2.5rem;
}
option{
    padding: .5rem;
}
/* form-end */
#mainContainer{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
/* about */
#about{
    /* padding-top: 25vh; */
    display: grid;
    grid-template-columns: 447px 573px;
    color: #707070;
    padding-bottom: 25vh;
}
.left_about_title h2{
    font-size: 2.5rem;
    font-weight: lighter;
    padding: 55px 150px;
}
#description{
    padding: 10vh;
}
#description p{
    line-height: 2rem;
}
/* menu */
#menu{
    display: grid;
    grid-template-columns: 573px 447px;
    color: #707070;
    padding-bottom: 22vh;
}
.right_menu h2{
    font-size: 2.5rem;
    font-weight: lighter;
    padding: 55px 160px;
}
#menu_content{
    padding: 8vh;
}
h3{
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
}
#drink_lists{
    display: grid;
    grid-template-columns: 264px 100px;
}
#foods{
    padding-top: 45px;
}
#foods_lists{
    display: grid;
    grid-template-columns: 96px 192px;
    column-gap: 39px;
}
#set_descrip{
    font-size: 14px;
    padding-top: 15px;
}
/* contact */
#contact{
    padding-top: 3vh;
    display: grid;
    grid-template-columns: 440px 580px;
    color: #707070;
}
.left_contact h2{
    font-size: 2.5rem;
    font-weight: lighter;
    padding: 15px 120px;
}
iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
/* ここからフッター */
footer{
    margin-top: 30vh;
    position: relative;
    height: 40vh;
    background-color: #453825;
}
#footerContainer p{
    padding-top: 25vh;
    text-align: center;  
    font-size: 14px;
    color: #fff;
}